node_modules
npm-debug.log
.env
.env.*
!.env.example
.git
.gitignore
.dockerignore
Dockerfile
dockerfile
Jenkinsfile
README.md
.eslintrc.json
.eslintignore
.prettierrc.json
.prettierignore
.editorconfig
*.log
coverage
.vscode
.idea
.DS_Store
